.about-section {
  padding: 100px 140px;
}
.about-section h1 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}
.about-section .about-des {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 150px;
  padding-right: 150px;
  line-height: 26px;
  opacity: 80%;
}
.about-des1 {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 150px;
  padding-right: 150px;
  line-height: 26px;
  opacity: 80%;
  padding-top: 20px;
}
.about-div {
  text-align: center;
}
.about-list {
  /* display: grid;
    grid-template-columns: repeat(4,1fr); */
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-list h2 {
  font-size: 48px;
  font-weight: 700;
  color: #00ff88;
}
.about-list p {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.8;
}
/*------------------------- Choose section------------- */
.choose-section {
  padding-top: 120px;
  padding: 100px 140px;
}
.choose-head {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding-bottom: 60px;
}
.choose-grid-container {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
}
.grid-item1 {
  grid-row: 1 / span 2;
  border-radius: 40px;
  box-shadow: 0 1px 1px #9361d4;
}
.grid-item2 {
  grid-column: 2 / span 2;
  box-shadow: 0 1px 1px #9361d4;
  border-radius: 40px;
}
.grid-item3 {
  box-shadow: 0 1px 1px #9361d4;
  border-radius: 40px;
  grid-column: 2 / span 2;
}
.grid-item4 {
  box-shadow: 0 1px 1px #9361d4;
  border-radius: 40px;
  grid-column: 1 / span 2;
}
.grid-item5 {
  border-radius: 40px;
  box-shadow: 0 1px 1px #9361d4;
}
.grid-card1 {
  padding: 50px 20px 35px;
}
.grid-card2 {
  padding: 20px;
}
.grid-card2 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.grid-card2 p {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  line-height: 24px;
  opacity: 0.6;
}
.grid-card1 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.grid-card1 p {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  line-height: 24px;
  opacity: 0.6;
}

/* ------------------Feature Episode section ------------- */
.feature {
  padding: 100px 140px 160px;
}
.feature-card iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-btm {
  box-shadow: 0 1px 1px #9361d4;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
}
.feature-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.feature-card p {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.6;
  padding-top: 6px;
  padding-bottom: 5px;
}
.icon-time {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.clock-icon {
  width: 20px;
  height: 20px;
}
.time {
  font-size: 100px;
  color: #00ff88;
}
/*------------- Host section-------------- */
.host-section {
  padding: 10px 140px 100px;
}
.host-section h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding-bottom: 40px;
}
.alex {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}
.host-section p {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.6;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.social-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding-bottom: 18px;
}
.host-flex {
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: 0 1px 3px rgba(188, 151, 237, 0.4);
  /* background-color: #351165; */
  padding: 30px;
  border-radius: 40px;
}
.host-img {
  width: 500px;
  height: 180px;
}

/*------------ Footer Section --------------*/
.footer-img {
  position: relative;
}
.footer-wave {
  position: absolute;
  text-align: center;
  left: 33%;
  bottom: 100px;
}
.footer-head {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 10px;
}
.footer-flex {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.footer-flex div {
  display: flex;
  gap: 7px;
}
.footer-flex p {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.6;
}
.rights {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.6;
  padding-top: 20px;
  /* padding-bottom: 10px; */
}
/*--------------- Responsive for small device ------------ */
@media screen and (max-width: 576px) {
  .about-section {
    padding: 10px 20px;
  }
  .about-section h1 {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-section .about-des {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    font-size: 12px;

    opacity: 80%;
  }
  .about-des1 {
    font-size: 12px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;
    gap: 30px;
    padding-left: 40px;
  }
  .about-list h2 {
    font-size: 30px;
    font-weight: 700;
    color: #00ff88;
  }
  .about-list p {
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    opacity: 0.8;
  }
  /*----------  hose section ----- */
  .host-section {
    padding: 10px 14px;
  }
  .host-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .host-img {
    width: 200px;
    height: 180px;
  }
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  /* ----footer responsive ---- */
  .footer-head {
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 6px;
  }
  .footer-img {
    position: relative;
  }
  .footer-wave {
    position: absolute;
    text-align: center;
    align-items: center;
    left: 34%;
    bottom:15px;
  }
  .footer-flex {
    /* display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 6px;
  }
  .footer-flex div {
    display: flex;
    gap: 4px;
  }
  .footer-flex p {
    font-size: 6px;
    font-weight: 500;
    color: #ffffff;
    opacity: 0.6;
  }
  .rights {
    font-size: 6px;
    font-weight: 500;
    color: #ffffff;
    opacity: 0.6;
    padding-top: 5px;
    /* padding-bottom: 10px; */
  }
  .footer-flex img{
    width: 10px;
    height: 10px;
  }
}
