.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-color1 {
  background-color: #1a0b2e;
}
.bg-color2 {
  background-color: #230e3d;
}
body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 140px;
  padding: 15px 0;
}
.nav-list {
  display: flex;
}
.nav-list p {
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
  color: white;
}
.nav-head {
  font-size: 37px;
  font-weight: 600;
  color: white;
}
.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 1000px;
  background: linear-gradient(to right, #f9d7d7, #fb09b4);
  color: white;
  border: none;
  transition: all 0.5 ease;
  animation: slideRight 1.5s linear;
}
.hamburger-menu {
  display: none;
  /* margin-left: 120px; */
}
.btn:hover {
  background: #0ef;
  color: black;
  box-shadow: 0 0 20px #0ef;
}

/*---------------------- Header section---------------------------  */

.banner-parent img {
  max-width: 100%;
  position: relative;
}
.banner-parent {
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-child-1 {
  position: absolute;
  /* top: 160px;
  left: 495px; */
  top: 26%;
  left: 39%;
}
.banner-child-2 {
  position: absolute;
  /* top: 220px;
  left: 586px; */
  top: 35%;
  left: 46.5%;
}
.banner-child1 {
  width: 275px;
}
.banner-child2 {
  width: 85px;
}
.banner-new {
  position: absolute;
  background-color: #00ff88;
  color: #1a0b2e;
  padding: 9px 14px;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 600;
  /* left: 700px;
  top: 165px; */
  top: 28%;
  left: 56%;
}
.banner-div {
  position: absolute;
  text-align: center;
  bottom: -30px;
  left: 390px;
}
.banner-head {
  font-size: 3.8rem;
  /* font-size: 60px; */
  font-weight: 800;
  color: #ffffff;
}
.banner-des {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 7px;
  padding-bottom: 20px;
  opacity: 0.8;
}
.banner-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.banner-btn button {
  display: flex;
  align-items: center;
  gap: 5px;
}
.banner-2nd-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 10000px;
  /* background: linear-gradient(to right, #f9d7d7, #fb09b4); */
  color: #00ff88;
  border: 2px solid #00ff88;
  background-color: transparent;
  animation: slideLeft 1.5s linear;
}
.banner-2nd-btn:hover {
  background-color: #0ef;
  color: black;
  box-shadow: 0 0 20px #0ef;
}
/* ----------------------Animation ----------------------------------- */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ------------------------Responsive Design for small device ------------------------- */
@media screen and (max-width: 576px) {
  nav {
    margin: 0 30px;
  }
  .btn,
  .nav-list {
    display: none;
  }
  .hamburger-menu {
    display: inline;
  }
  /*--------- Header section ----------*/
  .banner-parent {
    position: relative;
    padding-bottom: 160px;
  }
  .banner-child-1 {
    position: absolute;
    /* top: 22px;
    left: 162px; */
    top: 5%;
    left: 38%;
  }
  .banner-child-2 {
    position: absolute;
    /* top: 50px;
    left: 199px; */
    top: 13%;
    left: 46.5%;
  }
  .banner-child1 {
    width: 100px;
  }
  .banner-child2 {
    width: 24px;
  }
  .banner-new {
    position: absolute;
    background-color: #00ff88;
    color: #1a0b2e;
    padding: 5px;
    border-radius: 1000px;
    font-size: 8px;
    font-weight: 600;
    /* left: 225px;
    top: 22px; */
    top: 7%;
    left: 56%;
  }
  .banner-div {
    position: absolute;
    text-align: center;
    padding-bottom: 100px;
    /* top: 125px;
    left: 25px; */
    top: 40%;
    left: 2%;
  }
  .banner-head {
    font-size: 1.8rem;
    /* font-size: 60px; */
    font-weight: 800;
    color: #ffffff;
  }
  .banner-des {
    font-size: 10px;
    /* max-width: 250px;*/
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 7px;
    padding-bottom: 20px;
  }
  .banner-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .banner-btn button {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .banner-2nd-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    border-radius: 10000px;
    /* background: linear-gradient(to right, #f9d7d7, #fb09b4); */
    color: #00ff88;
    border: 2px solid #00ff88;
    background-color: transparent;
  }
  .btn {
    font-size: 10px;
    font-weight: 600;
    padding: 1px 12px;
    border-radius: 1000px;
    background: linear-gradient(to right, #f9d7d7, #fb09b4);
    color: white;
    border: none;
  }
  .banner-2nd-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 10000px;
    /* background: linear-gradient(to right, #f9d7d7, #fb09b4); */
    color: #00ff88;
    border: 2px solid #00ff88;
    background-color: transparent;
  }
}
