.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-color1 {
  background-color: #1a0b2e;
}
body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 140px;
  padding: 15px 0;
}
.nav-list {
  display: flex;
}
.nav-list p {
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
  color: white;
}
.nav-head {
  font-size: 40px;
  font-weight: 600;
  color: white;
}
.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 10000px;
  background: linear-gradient(to right, #f9d7d7, #fb09b4);
  color: white;
  border: none;
}
.hamburger-menu {
  display: none;
  /* margin-left: 120px; */
}

/*---------------------- Header section---------------------------  */

.banner-parent img {
  max-width: 100%;
  position: relative;
}
.banner-parent {
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-child-1 {
  position: absolute;
  top: 160px;
  left: 495px;
}
.banner-child-2 {
  position: absolute;
  top: 220px;
  left: 586px;
}
.banner-child1 {
  width: 275px;
}
.banner-child2 {
  width: 90px;
}
.banner-new {
  position: absolute;
  background-color: #00ff88;
  color: #1a0b2e;
  padding: 14px;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 600;
  left: 700px;
  top: 165px;
}
.banner-div {
  position: absolute;
  text-align: center;
  bottom: -30px;
  left: 375px;
}
.banner-head {
  font-size: 3.8rem;
  /* font-size: 60px; */
  font-weight: 800;
  color: #ffffff;
}
.banner-des {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 7px;
  padding-bottom: 20px;
  opacity: 0.8;
}
.banner-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.banner-btn button {
  display: flex;
  align-items: center;
  gap: 5px;
}
.banner-2nd-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border-radius: 10000px;
  /* background: linear-gradient(to right, #f9d7d7, #fb09b4); */
  color: #00ff88;
  border: 2px solid #00ff88;
  background-color: transparent;
}
/* -------------Responsive Design for small device ------------ */
@media screen and (max-width: 576px) {
  nav {
    margin: 0 30px;
  }
  .btn,
  .nav-list {
    display: none;
  }
  .hamburger-menu {
    display: inline;
  }
  /* Header section */
  .banner-parent {
    position: relative;
    padding-bottom: 160px;
  }
  .banner-child-1 {
    position: absolute;
    top: 30px;
    left: 154px;
  }
  .banner-child-2 {
    position: absolute;
    top: 50px;
    left: 182px;
  }
  .banner-child1 {
    width: 80px;
  }
  .banner-child2 {
    width: 22px;
  }
  .banner-new {
    position: absolute;
    background-color: #00ff88;
    color: #1a0b2e;
    padding: 5px;
    border-radius: 1000px;
    font-size: 8px;
    font-weight: 600;
    left: 212px;
    top: 25px;
  }
  .banner-div {
    position: absolute;
    text-align: center;
    padding-bottom: 100px;
    top: 125px;
    left: 25px;
  }
  .banner-head {
    font-size: 1.6rem;
    /* font-size: 60px; */
    font-weight: 800;
    color: #ffffff;
  }
  .banner-des {
    font-size: 10px;
    /* max-width: 250px;*/
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 7px;
    padding-bottom: 20px;
  }
  .banner-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .banner-btn button {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .banner-2nd-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    border-radius: 10000px;
    /* background: linear-gradient(to right, #f9d7d7, #fb09b4); */
    color: #00ff88;
    border: 2px solid #00ff88;
    background-color: transparent;
  }
  .btn {
    font-size: 10px;
    font-weight: 600;
    padding: 2px 12px;
    border-radius: 10000px;
    background: linear-gradient(to right, #f9d7d7, #fb09b4);
    color: white;
    border: none;
  }
}
